{% extends 'customer/base.html' %}

{% block head_extra %}
<style>
    #id_number_plate {
        text-transform: uppercase;
    }
</style>
{% endblock head_extra %}

{% block content %}
<h1>
    Welcome to the Challenge Adventure Car Wash
</h1>
<p class="mt-2">
    Please enter your number plate.
</p>
<form method="POST" class="mt-4">
    {% csrf_token %}

    {% include 'widgets/forms/form_error.html' %}

    <div class="space-y-3">
        {% include 'widgets/forms/input.html' with field=form.number_plate required=True %}
    </div>
    
    {% include 'widgets/button.html' with text='Next' %}
</form>
{% endblock content %}
